html, body {
  height: 100%;  
}

body {
  background-color: #001f3f;
  color: #ddd;
}

.masthead {
  height: 90%;
  margin-top: 10%;
  color: #0074D9;
  h1 {
    color: #ddd;
  }
}


.features {
  background-color: #ddd;
  color: #001f3f;
  padding: 40px 0;
}


.signup {
  padding: 40px 0;
  background-color: #fff;
  color: #111;
}
