.page-header {
  border-bottom: none;
}

@main-color: #E67E22;

@jlogo-size: 26px;
#logo {
  display: inline;
  line-height: @jlogo-size;
  // border: 1px solid #2ecc71;
  h1 {
    display: inline;
    font-size: 16px;
    vertical-align: middle;
  }
  a {
    color: #333;
    font-weight: 200;
    letter-spacing: 0.1em;
    &:hover {
      text-decoration: none;
    }
  }
  .jlogo {
    float: left;
    vertical-align: middle;
    // background-color: #2ecc71;
    background-color: @main-color;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    // border-radius: 3px;
    width: @jlogo-size;
    height: @jlogo-size;
    line-height: @jlogo-size;
    text-align: center;
    margin-right: 10px;
    &:before {
      content: 'J';
    }
  }
}

.header {
  background-color: #F8F8F8;
}

.masthead {
  margin-bottom: 40px;
  padding: 40px 0;
  background-color: @main-color;
  color: #F8F8F8;
  h2 {
    color: #fff;
  }
  a {
    color: #F8F8F8;
  }
}

.btn {
  .logo-gh {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
    margin-right: 5px;
  }
}

.vspace-5 {
  margin: 5px 0;
}
.vspace-20 {
  margin: 20px 0;
}
.vspace-40 {
  margin: 40px 0;
}

article {
  margin-bottom: 20px;
}
