---
header: Cloud based CMS for static websites
lead: markdown/lead.md
features:
  - columns:
    - title: Edit anywhere
      lead: Edit content via Journster, GitHub or your own editor.
    - title: Free hosting
      lead: Use GitHub Pages for free and let Journster handle it for you.
    - title: Endless possibilities
      lead: Utilize the many packages that npm and Bower provide.
  - columns:
    - title: Fastest possible
      lead: With a static website, your site can't be faster.
    - title: Global distribution
      lead: Your site will be hosted by a global content distribution network.
    - title: No backend
      lead: Without a backend, you don't need nor be an engineer.
---
<div class="masthead">
  <div class="container">
    <h2>{{ header }}</h2>
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <div class="lead">{{{md lead}}}</div>
      </div>
      <div class="col-md-5">
        <div class="vspace-20 text-center">
          <form action="//journster.us2.list-manage.com/subscribe/post?u=228e04b4c873a783c32cdae85&amp;id=f4202e45f5" method="post" class="form-inline">
            <div class="col-md-8 col-sm-3 col-xs-6">
        	    <input type="email" name="EMAIL" placeholder="your@email.com" class="form-control">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <input type="submit" value="Sign up" class="btn btn-default">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="vspace-40">
  <div class="container">
    {{#each features}}
    <div class="row">
        {{#each columns}}
        <div class="col-md-4">
          <h3>{{ this.title }}</h3>
          <p class="lead">{{ this.lead }}</p>
        </div>
        {{/each}}
    </div>
    {{/each}}
  </div>
</div>

<hr>
