@jlogo-size: 28px;

#logo {
  font-size: 18px;
  line-height: @jlogo-size;
  a {
    color: #333;
    font-weight: normal;
    &:hover {
      text-decoration: none;
    }
  }
  .jlogo {
    float: left;
    vertical-align: middle;
    background-color: #90C695;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    width: @jlogo-size;
    height: @jlogo-size;
    line-height: @jlogo-size;
    text-align: center;
    margin-right: 10px;
  }
  // .jtxt {
  //   vertical-align: middle;
  // }
}

.btn {
  .logo-gh {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
    margin-right: 5px;
  }
}

.vspace-5 {
  margin: 5px 0;
}
.vspace-20 {
  margin: 20px 0;
}
.vspace-40 {
  margin: 40px 0;
}
