<div class="masthead">
  <div class="container">
    <h2>Cloud based CMS for static websites</h2>
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <p class="lead">Journster enables you to use popular build scripts such as <a href="http://gruntjs.com/">Grunt</a> and package managers such as <a href="http://bower.io/">Bower</a> and <a href="https://www.npmjs.org">npm</a> to build your website without having to do the build on your local machine.</p>
        <p class="lead">Use <a href="https://github.com/">GitHub</a> to edit content and let Journster handle the build and publish process.</p>
      </div>
      <div class="col-md-5">
        <div class="vspace-40 text-center">
          <form action="//journster.us2.list-manage.com/subscribe/post?u=228e04b4c873a783c32cdae85&amp;id=f4202e45f5" method="post" class="form-inline">
            <div class="col-md-6 col-sm-3 col-xs-6">
        	    <input type="email" name="EMAIL" placeholder="your@email.com" class="form-control">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <input type="submit" value="Sign up" class="btn btn-default">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
